{% extends "snorlax/base.html" %}
{% block static-files %}
  {% load staticfiles %}
  <!-- Custom styles for this template -->
  <link href="{% static 'snorlax/css/alarm.css' %}" rel="stylesheet" type="text/css">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <!--- ALARM TIME -->
  <div class="time">
    <h1 class="title">Set Alarm</h1>
    <!-- Make this dynamic -->
    <h4 class="numbers title">{{alarm.time.date}}</h4>
    <h1 class="numbers">{{alarm.time.time}}</h1>
    <!-- {% if alarm.switch %}
      <input type="checkbox" id="toggle-two" name="setAlarm" checked onchange="toggleAlarm()">
    {% else %}
      <input type="checkbox" id="toggle-two" name="setAlarm" onchange="toggleAlarm()">
    {% endif %} -->
    <input type="checkbox" id="toggle-two" name="setAlarm" {% if alarm.switch %} checked {% else %} {% endif %} onchange="toggleAlarm()">
    {% csrf_token %}
  </div>
  
  <hr>


  <div class="alarm-row">
    <h1 class="title">Set Sleeping Position Buzzer</h1>
    <label class="checkbox-inline">
      <input name="front" type="checkbox" data-toggle="toggle"> Front
    </label>
    <label class="checkbox-inline">
      <input name="back" type="checkbox" data-toggle="toggle"> Back
    </label>
    <label class="checkbox-inline">
      <input name="right" type="checkbox" data-toggle="toggle"> Right
    </label>
    <label class="checkbox-inline">
      <input name="left" type="checkbox" data-toggle="toggle"> Left
    </label>
  </div>

  <hr> 

  <!-- EDIT ALARM -->
  <div class="time">
    <h1 class="title">Edit Alarm</h1>
    <form enctype="multipart/form-data" class="form col-md-12 center-block" method="post" action="{% url 'editAlarm' %}">
      <div class="form-group">
        <table>
          <tr>
            <td class="hour">
              <div class="input-group">
                <input type="text" class="form-control number" maxlength="2"  id="hour" name="hour" value="6">
                <div onClick="increment('hour')" class="input-group-addon"><span class="glyphicon glyphicon-chevron-up"></span></div>
                <div onClick="decrement('hour')" class="input-group-addon"><span class="glyphicon glyphicon-chevron-down"></span></div>
              </div>
            </td>
            <td class="separator">:</td>
            <td class="minute">
              <div class="input-group">
                <input type="text" class="form-control number" maxlength="2" id="minute" name="min" value="30">
                <div onClick="increment('minute')" lick="" class="input-group-addon"><span class="glyphicon glyphicon-chevron-up"></span></div>
                <div onClick="decrement('minute')" class="input-group-addon"><span class="glyphicon glyphicon-chevron-down"></span></div>
              </div>
            </td>
            <td>
              <div class="dropdown">
                <select class="form-control" id="ampm" name="ampm">
                  <option>  AM   </option>
                  <option>  PM   </option>
                </select>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Save Alarm</button>
      </div>
      {% csrf_token %}
    </form>
  </div>


{% endblock %}
{% block loadJS %}
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <script src="{% static 'snorlax/js/alarm.js' %}"></script>
{% endblock %}