{% extends "snorlax/base.html" %}

{% block static-files %}
{% load staticfiles %}
<!-- Custom styles for this template -->
<link href="{% static 'snorlax/css/feedback.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <!-- FEEDBACK FORM -->
  <div class="feedback">
    <h1 class="title">Log Sleep</h1>
    <form id="feedback-form" class="form-vertical">
      <div class="form-group">
        <label class="form-label">Rate your sleep last night</label>
        <div class="radio-group">
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="rating1" value="option1"> Terrible
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="rating2" value="option2"> Bad
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="rating3" value="option3"> OK
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="rating4" value="option4"> Good
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="rating5" value="option5"> Awesome
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">Did you have any dreams?</label>
        <div class="radio-group">
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="yes"> Yes
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="no"> No
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="description">If yes, briefly describe what you remember</label>
        <textarea name="description" class="form-control" rows="4" placeholder="My dream was..."></textarea>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}