{% extends "snorlax/base.html" %}
{% block static-files %}
  {% load staticfiles %}
  <!-- Custom styles for this template -->
  <link href="{% static 'snorlax/css/feedback.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
  <!-- CALENDAR -->
  <div class="cal-container">
    <div class="calendar clearfix"></div>
  </div>
{% endblock %}
{% block loadJS %}
  <!-- <script type="text/javascript" src="{% static 'snorlax/js/moment.js' %}"></script>
  <script type="text/javascript" src="{% static 'snorlax/js/underscore.js' %}"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <script type="text/javascript" src="{% static 'snorlax/js/clndr.min.js' %}"></script>
  
  <script type="text/template" id="template-calendar">
  <div class="clndr-controls">
    <div class="clndr-previous-button">‹</div>
    <div class="clndr-next-button">›</div>
    <div class="month"><%= month %></div>
  </div>
  <div class="clndr-grid">
    <div class="days-of-the-week clearfix">
      <% _.each(daysOfTheWeek, function(day) { %>
      <div class="header-day"><%= day %></div>
      <% }); %>
    </div>
    <div class="days clearfix">
      <% _.each(days, function(day) { %>
      <div class="<%= day.classes %>" id="<%= day.id %>">
        <span class="day-number"><%= day.day %></span>
      </div>
      <% }); %>
    </div>
  </div>
  <div class="details">
    <div class="details-title">Log Sleep</div>
    <form id="feedback-form" class="form-vertical" method="post" action="{% url 'feedback' %}">
      <div class="form-group">
        <input type="hidden" name="date" id="dateHidden" value="test">
      </div>
      <div class="form-group">
        <label class="form-label">Rate your sleep last night</label>
        <div class="radio-group">
          <label class="radio-inline">
            {% if log.quality == 'Terrible' %}
            <input type="radio" name="quality" id="rating1" value="Terrible" checked> Terrible
            {% else %}
            <input type="radio" name="quality" id="rating1" value="Terrible"> Terrible
            {% endif %}
          </label>
          <label class="radio-inline">
            {% if log.quality == 'Bad' %}
            <input type="radio" name="quality" id="rating2" value="Bad" checked> Bad
            {% else %}
            <input type="radio" name="quality" id="rating2" value="Bad"> Bad
            {% endif %}
          </label>
          <label class="radio-inline">
            {% if log.quality == 'Ok' %}
            <input type="radio" name="quality" id="rating3" value="Ok" checked> Ok
            {% else %}
            <input type="radio" name="quality" id="rating3" value="Ok"> Ok
            {% endif %}
          </label>
          <label class="radio-inline">
            {% if log.quality == 'Good' %}
            <input type="radio" name="quality" id="rating4" value="Good" checked> Good
            {% else %}
            <input type="radio" name="quality" id="rating4" value="Good"> Good
            {% endif %}
          </label>
          <label class="radio-inline">
            {% if log.quality == 'Awesome' %}
            <input type="radio" name="quality" id="rating5" value="Awesome" checked> Awesome
            {% else %}
            <input type="radio" name="quality" id="rating5" value="Awesome"> Awesome
            {% endif %}
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">Did you have any dreams?</label>
        <div class="radio-group">
          <label class="radio-inline">
            {% if log and log.dreams %}
            <input type="radio" name="dreams" id="inlineRadio1" value="True" checked> Yes
            {% else %}
            <input type="radio" name="dreams" id="inlineRadio1" value="True"> Yes
            {% endif %}
          </label>
          <label class="radio-inline">
            {% if log and not log.dreams %}
            <input type="radio" name="dreams" id="inlineRadio2" value="False" checked> No
            {% else %}
            <input type="radio" name="dreams" id="inlineRadio2" value="False"> No
            {% endif %}
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="description">If yes, briefly describe what you remember</label>
        <textarea name="description" class="form-control" rows="4" placeholder="My dream was...">{{log.description}}</textarea>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
  </div>
  </script>
  <script type="text/javascript">
  var clndr1 = $('.calendar').clndr({
    template: $('#template-calendar').html(),
    adjacentDaysChangeMonth: false,
    clickEvents: {
    click: function(target) {
      //if prev != null {
      //  prev.css('color', 'black');
      //}
      console.log(target);
      console.log(target.date._i);
      //CLICK HANDLER 
      //Target contains the object that holds the date, element and all the events attached to it.
      var div = $(target['element']);
      console.log(div);
      div.css('color','red');
      //prev = div;
    }
  },
    doneRendering: function() {
      //WE CAN INSERT MORE EVENT HANDLERS HERE
      //console.log('this would be a fine place to attach custom event handlers.');
    }
  });
  </script>
{% endblock %}