{% extends "snorlax/base.html" %}


{% block content %}

	{% load staticfiles %}
	<div style="width: 70%">
		<button id="get-position-btn" type="button" class="btn btn-primary btn-lg btn-block" style="margin: 60px 60px 60px 60px;">
			Get current position
		</button>

		<div>
			<h1 id="position-status" style="text-align: center;"></h1>

			<div>
				<img id="position-img" src="{% static 'snorlax/img/back.png' %}" class="invisible" style="display:block; margin-left: auto; margin-right: auto;">
				<!--/br>
				<img src="{% static 'snorlax/img/belly.png' %}" style="display:block; margin-left: auto; margin-right: auto;">
				</br>
				<img src="{% static 'snorlax/img/facing-left.png' %}" style="display:block; margin-left: auto; margin-right: auto;">
				</br>
				<img src="{% static 'snorlax/img/facing-right.png' %}" style="display:block; margin-left: auto; margin-right: auto;"-->
			</div>
		</div>
		<span class="h4" id="back-status-elem"></span>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="{% static 'snorlax/js/currposition.js' %}"></script>

{% endblock %}